<ng-select
  [items]="options()"
  [ngModel]="value()"
  (ngModelChange)="value.set($event)"
  [compareWith]="compareById"
  [loading]="loaded() && query.isFetching()"
  [placeholder]="placeholder()"
  [notFoundText]="notFoundText()"
  [searchable]="true"
  [clearable]="true"
  (search)="onSearch($event.term)"
  (open)="onOpen()"
  (close)="onClose()"
>
  <ng-template ng-option-tmp let-item="item">
    {{ renderOption() ? renderOption()!(item) : item.name ?? item.id }}
  </ng-template>
  <ng-template ng-label-tmp let-item="item">
    {{ renderOption() ? renderOption()!(item) : item.name ?? item.id }}
  </ng-template>
</ng-select>
@if (hasError()) {
  <small class="select-api-error">No se pudo cargar la lista. Intenta nuevamente.</small>
}
